@import '/home/amirreza/.cache/wal/colors-waybar.css';
/* @import 'colors-waybar.css'; */

@define-color red-1 #f9918c;
@define-color red-5 #c20000;
@define-color red-10 #93050c;

@define-color green-1 #90b1b1;
@define-color green-5 #26A65B;
@define-color green-10 #2a5c45;

@define-color blue #1768aa;
@define-color yellow #ffbe61;

* {
	border: none;
	border-radius: 0;
	font-family: Liberation Mono;
	font-family: JetBrains Nerd Font, MesloLGS Nerd Font, FontAwesome, Vazirmtn RD, Roboto, Helvetica, Arial, sans-serif;
	font-weight: 500;
	font-size: 14px;
}

window#waybar {
	background-color: transparent;
}

window#waybar.hidden {
	opacity: 0.2;
}

#workspaces {
	border-radius: 10px;
	background: @background;
}

#workspaces button {
	transition: background 0.3s;
	color: @foreground;
	background: transparent;
	padding: 4px 16px;
	font-size: 18px;
	border-radius: 10px;
}

#workspaces button.persistent {
	color: @foreground;
	font-size: 12px;
}

#workspaces button:hover {
	border-radius: 10px;
	color: @color0;
	background: @color2;
}

#workspaces button.active {
	color: @color0;
	background: @color2;
}

label.module {
	transition: background 0.3s;
	padding: 6px 16px 6px 12px;
	border-radius: 8px;
	color: @foreground;
	background: @background;
}

tooltip {
	background: @background;
	/* border: 1px solid rgba(100, 114, 125, 0.5); */
	border-radius: 8px;
}

tooltip label {
	color: @color1;
}

label.module:hover {
	background: @color6;
	color: @color0;
}

#group-hardware,
#group-connection,
#group-others,
#group-sliders,
#group-power {
	transition: background 0.3s;
	border-radius: 10px;
	transition: none;
	color: @foreground;
	background: @background;
}

#privacy {
	padding: 4px 0px 4px 16px;
}

#memory,
#temperature,
#bluetooth,
#network,
#pulseaudio,
#backlight,
#idle_inhibitor,
#language,
#power-profiles-daemon {
	padding: 4px 12px 4px 8px;
}

#cpu {
	padding: 4px 16px 4px 8px;
}

#network {
	padding-right: 20px;
}

#network.wifi {
	min-width: 100px;
}

#network.disconnected {
	background: @red-1;
	color: @red-10;
}

#idle_inhibitor {
	font-size: 1.2em;
	padding-left: 12px;
	padding-right: 16px;
	font-weight: 900;
}

#idle_inhibitor.activated {
	background: @green-1;
	color: @green-10;
}

#power-profiles-daemon {
	font-size: 1.2em;
	padding-left: 12px;
	padding-right: 16px;
	margin-bottom: 2px;
	font-weight: 900;
}

#power-profiles-daemon.power-saver {
	background: @green-1;
	color: @green-10;
}

#power-profiles-daemon.performance {
	background: radial-gradient(circle, rgba(255, 153, 145, 1) 0%, rgba(247, 144, 140, 1) 12%, rgba(255, 46, 115, 1) 31%, rgba(247, 144, 140, 1) 55%, rgba(255, 153, 145, 1) 100%);
	color: @red-10;
	background-size: 200% 200%;
	animation: hot 10s linear infinite;
}

#pulseaudio.muted {
	background-color: @green-1;
	color: @green-10;
}

#temperature.critical {
	background-color: @red-1;
	color: @red-10;
}

#battery {
	transition: all 0.3s ease;
	/* padding: 0px 0px; */
	min-width: 55px;
}

#battery.charging {
	/* padding-top: 10px; */
	/* padding-bottom: 10px; */
	/* margin-top: -2px; */
	/* margin-bottom: -2px; */
	color: #ffffff;
	background-color: @green-5;
}

#battery.warning:not(.charging) {
	background-color: @yellow;
	color: black;
}

#battery.critical:not(.charging) {
	background-color: @red-5;
	color: #ffffff;
	animation-name: blink;
	animation-duration: 0.5s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

#custom-power,
#custom-quit,
#custom-reboot,
#custom-lock {
	font-size: 16px;
}

#custom-power {
	padding-right: 20px;
}

@keyframes blink {
	to {
		background-color: #ffffff;
		color: #000000;
	}
}

@keyframes hot {
	0% {
		background-position: 0% 0%;
	}

	50% {
		background-position: 100% 100%;
	}

	100% {
		background-position: 200% 200%;
	}
}
