@import "/home/amirreza/.cache/wal/colors-wofi.css";

window {
	margin: 0px;
	background-color: @background-alpha;
	border-radius: 16px;
	border: 0px solid @color1;
}

#input {
	margin: 0px;
	padding: 8px 24px;
	border: none;
	color: @foreground;
	background-color: @background;
	border-radius: 16px;
}

#inner-box {
	margin: 4px;
	border: none;
	/* background-color: @background-alpha; */
	border-radius: 16px;
}

#outer-box {
	margin: 16px;
	border: none;
	/* background-color: @background-alpha; */
}

#scroll {
	margin: 0px;
	border: none;
}

#entry {
	transition: 0.2s;
	/* background-color: unset; */
	border-radius: 16px;
	margin: 4px;
	padding: 12px 20px;
	border-bottom: 1px dashed @color8;
}

#entry:selected {
	background-color: @color4;
	outline: none;
	border: 1px solid @color8;
}

#entry:last-child {
	border-bottom: 0px;
}

#text {
	transition: 0.2s;
	margin: 4px;
	border: none;
	color: @color15;
	font-size: 1.1em;
}

#text:selected {
	color: @color0;
	font-size: 1.2em;
}

#img {
	margin-right: 8px;
	border: none;
}

